a.out
runSmall.out
CS170_Large_Data__12.txt
CS170_Large_Data__17.txt
CS170_Large_Data__30.txt
CS170_Small_Data__61.txt
CS170_Small_Data__81.txt
CS170_Small_Data__83.txt
output.txt
backwardEliminationOutput.txt
forwardEliminationOutput.txt
forwardEliminationSmall.txt

largeBackwardOutput.txt
largeForwardOutput.txt
smallBackwardOutput.txt
smallForwardOutput.txt